@import "../../../styles.scss";
@import "../home/home.component.scss";

.description {
  font-size: 0.85rem;
}

.list-group-item {
  &:active {
    background-color: $light-green;
    color: inherit;
  }

  &:hover {
    background-color: $lightest-green;
    color: inherit;
  }
}

.selected {
  //Important to overwrite hover
  background-color: $dark-green !important;
  color: white !important;
}

.subtext {
  font-size: 0.85rem;
}
