<!-- Select analysis type -->
<app-analysis-type
  *ngIf="showStage(stages.SelectType)"
  [analysisType]="currentSelection.analysisType"
  (analysisTypeEvent)="receiveAnalysisType($event)"
>
  <app-analysis-nav
    [isValid]="isValid"
    [disabledBack]="analysisBatch.length === 0"
    (back)="back()"
    (next)="next()"
  >
  </app-analysis-nav>
</app-analysis-type>

<!-- Select audio files -->
<app-analysis-audio
  *ngIf="showStage(stages.SelectAudio)"
  [audioFiles]="currentSelection.audioFiles"
  (audioFileEvent)="receiveAudio($event)"
>
  <app-analysis-nav [isValid]="isValid" (back)="back()" (next)="next()">
  </app-analysis-nav>
</app-analysis-audio>

<!-- Select output folder -->
<app-analysis-folder
  *ngIf="showStage(stages.SelectFolder)"
  [outputFolder]="currentSelection.outputFolder"
  (outputFolderEvent)="receiveOutputFolder($event)"
>
  <app-analysis-nav [isValid]="isValid" (back)="back()" (next)="next()">
  </app-analysis-nav>
</app-analysis-folder>

<!-- Confirmation -->
<app-analysis-confirmation
  *ngIf="showStage(stages.Confirmation)"
  [analysisBatch]="analysisBatch"
>
  <p class="lead d-flex flex-row justify-content-around">
    <button
      class="btn btn-danger btn-lg"
      role="button"
      (click)="resetProgress()"
    >
      Cancel
    </button>
    <button class="btn btn-warning btn-lg" role="button" (click)="back()">
      Back
    </button>
    <button class="btn btn-warning btn-lg" role="button" (click)="next()">
      Add
    </button>
    <button
      class="btn btn-success btn-lg"
      role="button"
      (click)="runAnalysis()"
    >
      Run
    </button>
  </p>
</app-analysis-confirmation>

<!-- Output -->
<app-analysis-output
  *ngIf="showStage(stages.DisplayOutput)"
  [analyses]="analyses"
  (onComplete)="resetProgress()"
>
</app-analysis-output>
