<div class="container mt-3 mb-3">
  <div class="card shadow">
    <div class="card-header card-header-form">
      <div class="header">Select Output Folder</div>
      <div class="flex-fill"></div>
      <form class="form-inline my-0">
        <button
          class="btn btn-outline-success my-0 py-1"
          (click)="selectFolder()"
        >
          Select Folder
        </button>
        <button
          class="btn btn-outline-success my-0 py-1"
          (click)="resetFolder()"
        >
          Reset
        </button>
      </form>
    </div>
    <div class="card-body">
      <p class="mb-0">
        {{ outputFolder }}
      </p>
    </div>

    <div class="d-flex justify-content-around pb-3">
      <button class="btn btn-warning" (click)="backButton()">
        Back
      </button>
      <button class="btn btn-success" (click)="nextButton()">
        Next
      </button>
    </div>
  </div>
</div>
