<div class="container mt-3">
  <div class="card shadow">
    <div class="card-header d-flex">
      Analysis Output
    </div>
    <div class="card-body">
      <!-- Overall Analysis Statistics -->
      <h4 class="mb-1">
        Analysis Progress {{ pause && !running ? "(Paused)" : "" }}
      </h4>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          [ngStyle]="{ width: (completeFiles / totalFiles) * 100 + '%' }"
        >
          <p class="mb-0 ml-3">{{ completeFiles }}/{{ totalFiles }}</p>
        </div>
      </div>

      <!-- Current Analysis Statistics -->
      <div *ngIf="currentAnalysis">
        <h4 class="mb-1">Current File</h4>

        <div class="d-flex">
          <div class="analysis-header">
            <p class="mr-3 mb-0"><strong>Type</strong></p>
          </div>
          <div class="analysis-value">
            <p class="mr-3 mb-0">
              {{ currentAnalysis.label }}
            </p>
          </div>
        </div>

        <div class="d-flex">
          <div class="analysis-header">
            <p class="mr-3 mb-0"><strong>File</strong></p>
          </div>
          <div class="analysis-value">
            <p class="mr-3 mb-0">
              {{ currentAnalysis.getAudioBasename() }}
            </p>
          </div>
        </div>

        <div class="d-flex">
          <div class="analysis-header">
            <p class="mr-3 mb-0"><strong>Output Folder</strong></p>
          </div>
          <div class="analysis-value">
            <p class="mr-3 mb-0">
              {{ currentAnalysis.output }}
            </p>
          </div>
        </div>

        <p class="mr-3 mb-0"><strong>Progress</strong></p>
        <div class="progress flex-fill">
          <div
            class="progress-bar"
            role="progressbar"
            [ngStyle]="{ width: currentProgress + '%' }"
          >
            <p class="mb-0 ml-3">{{ displayCurrentProgress() }}%</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Analysis options -->
    <div class="d-flex justify-content-around pb-3">
      <button
        class="btn btn-outline-danger"
        [disabled]="completeFiles === totalFiles"
        (click)="stopAnalysis()"
      >
        Stop Analysis
      </button>
      <button
        class="btn btn-outline-warning"
        [disabled]="completeFiles === totalFiles"
        (click)="pauseAnalysis()"
      >
        {{ pause ? "Unpause Analysis" : "Pause Analysis" }}
      </button>
      <button
        class="btn btn-outline-success"
        [disabled]="completeFiles !== totalFiles"
        (click)="newAnalysis()"
      >
        New Analysis
      </button>
    </div>
  </div>
</div>
