<div class="container mt-3">
  <div class="card shadow">
    <div class="card-header text-white">
      Analysis Types
    </div>
    <div class="card-body">
      <ul class="list-group">
        <a
          href="#"
          class="list-group-item list-group-item-action"
          *ngFor="let analysisOption of analysisOptions; let i = index"
          [id]="i"
          [ngClass]="analysisOption.isSelected ? 'selected' : ''"
          (click)="changeSelection(i)"
        >
          {{ analysisOption.label }}
        </a>
      </ul>
    </div>
  </div>

  <div class="d-flex flex-row-reverse bd-highlight mt-3 mb-2">
    <button type="button" class="btn btn-outline-success shadow">
      Next
    </button>
  </div>
</div>
