@import "../../../styles.scss";

.card {
  border-color: $darkest-green;

  .card-header {
    background-color: $darkest-green;
  }
}

.list-group-item {
  &:hover {
    background-color: $lightest-green;
    color: inherit;
  }
  &:active {
    background-color: $light-green;
    color: inherit;
  }
}

.btn-outline-success {
  background-color: white;
  border-color: $darkest-green;
  color: $darkest-green;

  &:not(:disabled) {
    &:hover {
      background-color: $darkest-green;
      color: white;
    }
  }
}

.selected {
  //Important to overwrite hover
  background-color: $dark-green !important;
  color: white !important;
}

.subtext {
  font-size: 0.85rem;
}
