@import "../../../styles.scss";

.card {
  border-color: $darkest-green;

  .card-header {
    background-color: $darkest-green;
  }
}

.selected {
  background-color: $dark-green;
  color: white;
}

.list-group-item {
  &:hover {
    background-color: $lightest-green;
    color: inherit;
  }
  &:active {
    background-color: $light-green;
    color: inherit;
  }
}

.btn-outline-success {
  background-color: white;
  border-color: $darkest-green;
  color: $darkest-green;

  &:hover {
    background-color: $darkest-green;
    color: white;
  }
}
