@import "../../../styles.scss";

.card {
  border-color: $darkest-green;

  .card-header {
    background-color: $darkest-green;
  }
}

.btn-outline-success {
  background-color: white;
  border-color: $darkest-green;
  color: $darkest-green;

  &:not(:disabled) {
    &:hover {
      background-color: $darkest-green;
      color: white;
    }
  }
}

.btn-outline-danger {
  background-color: white;
  border-color: darkred;
  color: darkred;

  &:not(:disabled) {
    &:hover {
      background-color: darkred;
      color: white;
    }
  }
}
