<div>
  <app-nav-bar></app-nav-bar>
  <app-analysis-type
    *ngIf="showStage(SELECT_TYPE)"
    [backButton]="analysisBatch.length > 0"
    (messageEvent)="receiveAnalysis($event)"
  ></app-analysis-type>
  <app-analysis-audio
    *ngIf="showStage(SELECT_AUDIO)"
    (messageEvent)="receiveAudio($event)"
  ></app-analysis-audio>
  <app-analysis-output
    *ngIf="showStage(SELECT_OUTPUT)"
    (messageEvent)="receiveOutput($event)"
  ></app-analysis-output>
  <app-analysis-run
    *ngIf="showStage(RUN_ANALYSIS)"
    [analysisBatch]="analysisBatch"
    (messageEvent)="runAnalysis($event)"
  ></app-analysis-run>
  <app-output
    *ngIf="showStage(DISPLAY_OUTPUT)"
    [analyses]="analyses"
  ></app-output>
</div>
