<div>
  <app-analysis-type
    *ngIf="currentStage === SELECT_TYPE"
    (messageEvent)="receiveAnalysis($event)"
  ></app-analysis-type>
  <app-analysis-audio
    *ngIf="currentStage === SELECT_AUDIO"
    (messageEvent)="receiveAudio($event)"
  ></app-analysis-audio>
  <app-analysis-output
    *ngIf="currentStage === SELECT_OUTPUT"
    (messageEvent)="receiveOutput($event)"
  ></app-analysis-output>
  <app-analysis-run
    *ngIf="currentStage === RUN_ANALYSIS"
    (messageEvent)="runAnalysis($event)"
    [analysisList]="analysisList"
  ></app-analysis-run>
</div>
