<div class="container mt-3">
  <div class="card shadow">
    <div class="card-header d-flex">
      <div class="header">Audio Files</div>
      <div class="flex-fill"></div>
      <form class="form-inline my-0">
        <button
          class="btn btn-outline-success my-0 py-1"
          (click)="selectFiles()"
        >
          Select Files
        </button>
        <button
          class="btn btn-outline-success my-0 py-1"
          (click)="selectFolder()"
        >
          Select Folder
        </button>
      </form>
    </div>
    <div class="card-body">
      <p class="mb-0" *ngIf="!loading && !filesSelected">
        No files selected yet
      </p>

      <div *ngIf="loading || filesSelected">
        <ngx-datatable
          class="material"
          columnMode="flex"
          [rows]="rows"
          [columns]="columns"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [limit]="10"
          [loadingIndicator]="loading"
          [reorderable]="true"
        >
          <ngx-datatable-column name="No" [flexGrow]="1">
          </ngx-datatable-column>
          <ngx-datatable-column name="Filename" [flexGrow]="9">
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>

    <ng-content></ng-content>
  </div>
</div>
