<nav class="navbar navbar-expand-sm navbar-dark shadow">
  <!-- Title and Logo -->
  <a class="navbar-brand" href="#">
    <img src="../../../assets/ap_desktop.svg" width="30" height="30" alt="" />
    AP Desktop
  </a>

  <!-- Mobile Button to Toggle NavBar -->
  <button class="navbar-toggler" type="button" (click)="toggleNav()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Links -->
  <div
    id="navbarNav"
    class="collapse navbar-collapse"
    [ngClass]="expandNav ? 'show' : ''"
  >
    <ul class="navbar-nav">
      <li class="nav-item disabled" [ngClass]="isActive('Analysis')">
        <a class="nav-link" href="#">
          Analysis
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" [ngClass]="isActive('Output')"
          >Output</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [ngClass]="isActive('Utilities')"
          >Utilities</a
        >
      </li>
    </ul>
  </div>
</nav>
