@import "../home/home.component.scss";

.card {
  .card-header {
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;

    .btn {
      margin-right: 0.25rem;
      margin-top: -1rem;
    }

    .header {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  .card-body {
    min-height: 20rem;
    max-height: 40rem;
  }
}

a {
  cursor: pointer;

  .fa-times {
    color: darkred;
    font-size: 1.25rem;
  }
}

table {
  width: 100%;
}
