.group {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px auto 0px auto;
  max-width: 1200px;
  overflow: hidden;
  padding: 0px 14px;
}

.group-content {
  padding-bottom: 14px;
  padding-top: 14px;
}

.group-content p {
  margin: 0;
  padding: 0;
}

.question {
  background-color: #003100;
  height: 44px;
  margin: 0px -14px;
  overflow: hidden;
}

.question-fail {
  background-color: #650000;
  height: 44px;
  margin: 0px -14px;
  overflow: hidden;
}

.question-text {
  color: white;
  display: inline-flex;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  padding: 10px 15px 10px 10px;
}

.question-button {
  background-color: #002000;
  color: white;
  cursor: pointer;
  display: inline-flex;
  float: right;
  font-size: 16px;
  justify-content: center;
  margin: 0px;
  padding: 14px 25px;
  width: 100px;
}

.question-button:hover {
  background-color: #001500;
}

.question-button-fail {
  background-color: #4b0000;
  color: white;
  cursor: pointer;
  display: inline-flex;
  float: right;
  font-size: 16px;
  justify-content: center;
  margin: 0px;
  padding: 14px 25px;
  width: 100px;
}

.question-button-fail:hover {
  background-color: #3f0000;
}

#submit {
  height: 54px;
  margin: 14px auto;
  width: 125px;
}

#submit button:disabled {
  border: 2px solid #650000;
}

#submit button:disabled:hover {
  background-color: #650000;
}

button {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #003100;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  cursor: pointer;
  font-size: 16px;
  padding: 16px 32px;
  text-align: center;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #003100;
  color: white;
}

ul.file-list {
  display: none;
  overflow: auto;
  max-height: 372px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  list-style-type: none;
}

li.files {
  border-top: solid 1px lightgrey;
  list-style-position: inside;
  padding-bottom: 5px;
  padding-top: 5px;
}

ul li.files:first-child {
  border-width: 0px;
  padding-top: 0px;
}

ul li.files:last-child {
  padding-bottom: 0px;
}

.flex {
  margin: 0;
  padding: 0;
  width: 100%;
}

.flex tr,
.flex td {
  margin: 0;
  padding: 0;
}

.flex td:first-child {
  white-space: nowrap;
  width: 1%;
}

.flex input[type="text"],
.flex input[type="number"] {
  background: #dcdcdc;
  border-radius: 5px;
  border: solid 1px lightgrey;
  box-sizing: border-box;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 100%;
  margin-right: 14px;
  padding: 0 5px;
  width: 100%;
}

select {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
  height: 30px;
}
