.submit {
  height: 54px;
  margin: 14px auto;
  width: 125px;
}

.submit button:disabled {
  border: 2px solid #650000;
}

.submit button:disabled:hover {
  background-color: #650000;
}

button {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #003100;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  cursor: pointer;
  font-size: 16px;
  padding: 16px 32px;
  text-align: center;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #003100;
  color: white;
}

ul.file-list {
  display: none;
  overflow: auto;
  max-height: 372px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  list-style-type: none;
}

li.files {
  border-top: solid 1px lightgrey;
  list-style-position: inside;
  padding-bottom: 5px;
  padding-top: 5px;
}

ul li.files:first-child {
  border-width: 0px;
  padding-top: 0px;
}

ul li.files:last-child {
  padding-bottom: 0px;
}

.flex {
  margin: 0;
  padding: 0;
  width: 100%;
}

.flex tr,
.flex td {
  margin: 0;
  padding: 0;
}

.padding-right-p p {
  padding-right: 14px;
}

.flex td:first-child {
  white-space: nowrap;
  width: 1%;
}

input[type="number"],
input[type="text"],
select {
  box-sizing: border-box;
  color: #333;
  font: 16px;
  height: 26px;
  letter-spacing: 1px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}

select:disabled {
  background-color: rgb(235, 235, 228);
}

table.output td {
  width: 500px;
}

.output {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  padding: 5px;
}

.output pre {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  height: 300px;
  margin: 0;
  overflow-y: scroll;
  padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.configEditor {
  width: 100%;
  height: 500px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  resize: vertical;
}

a.button {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  text-decoration: none;
  font: menu;
  color: ButtonText;
  display: inline-block;
  padding: 2px 8px;
}
