div.filename-container {
  height: 20px;
  margin-bottom: 2px;
  padding-top: 4px;
}

div.filename-analysis {
  height: 20px;
  margin-bottom: 2px;
  padding-top: 4px;
  align-items: center;
}

.scrollimage {
  overflow-x: auto;
}
