<div class="jumbotron container mt-3 mb-3">
  <h1 class="display-4">Run Analysis</h1>

  <p class="lead">
    Run the following analysis tasks:
  </p>

  <hr class="my-4" />

  <li *ngFor="let analysis of analyses">
    {{ analysis.label }} on {{ analysis.audioFiles.length }} file/s
  </li>

  <hr class="my-4" />

  <p class="lead d-flex flex-row justify-content-around">
    <button
      class="btn btn-danger btn-lg"
      role="button"
      (click)="cancelButton()"
    >
      Cancel
    </button>
    <button class="btn btn-warning btn-lg" role="button" (click)="backButton()">
      Back
    </button>
    <button class="btn btn-warning btn-lg" role="button" (click)="nextButton()">
      Add
    </button>
    <button class="btn btn-success btn-lg" role="button" (click)="runButton()">
      Run
    </button>
  </p>
</div>
