
.checkbox-custom {
  opacity: 0;
  position: absolute;
  justify-content: center;
}

.checkbox-custom, .checkbox-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.checkbox-custom-label {
  position: relative;
  font-family: 'Raleway', sans-serif;
}

.checkbox-custom + .checkbox-custom-label:before {
  content: '';
  background: #fff;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  padding: 2px;
  text-align: center;
  margin-top: -3px;
  margin-right: 5px;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  font-size: 8px;
  background: #328332;
  color: #fff;
}

.checkbox-custom:focus + .checkbox-custom-label {
outline: 1px solid #ddd; /* focus style */
}