.checkbox-custom {
  justify-content: center;
  opacity: 0;
  position: absolute;
}

.checkbox-custom,
.checkbox-custom-label {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}

.checkbox-custom-label {
  font-family: "Raleway", sans-serif;
  position: relative;
}

.checkbox-custom + .checkbox-custom-label:before {
  background: #fff;
  border: 2px solid #ddd;
  content: "";
  display: inline-block;
  height: 9px;
  margin-right: 5px;
  margin-top: -3px;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
  width: 9px;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  background: #328332;
  color: #fff;
  content: "\f00c";
  font-family: "FontAwesome";
  font-size: 8px;
}

.checkbox-custom:disabled + .checkbox-custom-label:before {
  background: grey;
  color: #fff;
  content: "\f00d";
  font-family: "FontAwesome";
  font-size: 8px;
}

.checkbox-custom:focus + .checkbox-custom-label {
  outline: 1px solid #ddd; /* focus style */
}
