html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  background-color: #dcdcdc;
}

#header {
  width: 100%;
  height: 53px;
  background-color: #202020;
}

#header #logo {
  width: 200px;
  height: 100%;
  position: static;
  color: white;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: 0;
  background: none;
  box-shadow: none;
  cursor: default;
}

#header button#page {
  height: 60px;
  color: white;
  background-color: #020202;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

#header button {
  width: 130px;
  height: 100%;
  color: lightgrey;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  cursor: pointer;
}

#header button:hover {
  color: white;
}

#container {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 0 10px 10px 10px;
}