ul.horizontal {
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
}

ul.horizontal li {
    float: left;
    min-width: 250px;
    width: 25%;
    align-self: center;
}

.question {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px 10px 10px;
    margin: 0px -10px;
    margin-bottom: 5px;
    background-color: #003100  ;
}

.group {
    max-width: 1200px;
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px auto 0px auto;
    padding: 0px 10px 10px 10px;
}