<div class="container">
  <div class="card shadow">
    <div class="card-header">
      Analysis Options
    </div>
    <div class="card-body">
      <!-- Temporary Directory -->
      <div class="form-group row">
        <label
          for="--temp-dir"
          class="col-sm-6 col-md-4 col-lg-3 col-form-label"
        >
          Temporary Directory
        </label>
        <div class="col-sm-6 col-md-8 col-lg-9">
          <input id="--temp-dir" type="text" class="form-control" />
        </div>
      </div>

      <!-- Audio Offset -->
      <div class="form-group row">
        <label for="--offset" class="col-sm-6 col-md-4 col-lg-3 col-form-label">
          Audio Offset
        </label>
        <div class="col-sm-6 col-md-8 col-lg-9">
          <input id="--offset" type="text" class="form-control" />
        </div>
      </div>

      <!-- Align to Minute -->
      <div class="form-group row">
        <label
          for="--align-to-minute"
          class="col-sm-6 col-md-4 col-lg-3 col-form-label"
        >
          Align to Minute
        </label>
        <div class="col-sm-6 col-md-8 col-lg-9">
          <select id="--align-to-minute" class="custom-select">
            <option value="No Alignment">No Alignment</option>
            <option value="TrimBoth">Trim Both</option>
            <option value="Trim Neither">Trim Neither</option>
            <option value="Trim Start">Trim Start</option>
            <option value="Trim End">Trim End</option>
          </select>
        </div>
      </div>

      <!-- Channels -->
      <div class="form-group row">
        <label
          for="--channels"
          class="col-sm-6 col-md-4 col-lg-3 col-form-label"
        >
          Channels
        </label>
        <div class="col-sm-6 col-md-8 col-lg-9">
          <input id="--channels" type="text" class="form-control" />
        </div>
      </div>

      <!-- Mix Down to Mono -->
      <div class="form-group row">
        <label class="col-sm-6 col-md-4 col-lg-3 col-form-label">
          Mix Down to Mono
        </label>
        <div class="ml-3 mt-1 custom-control custom-checkbox">
          <input
            id="--mix-down-to-mono"
            type="checkbox"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="--mix-down-to-mono"></label>
        </div>
      </div>

      <!-- Parallel -->
      <div class="form-group row">
        <label class="col-sm-6 col-md-4 col-lg-3 col-form-label">
          Parallel
        </label>
        <div class="ml-3 mt-1 custom-control custom-checkbox">
          <input id="--parallel" type="checkbox" class="custom-control-input" />
          <label class="custom-control-label" for="--parallel"></label>
        </div>
      </div>

      <!-- Copy Log -->
      <div class="form-group row">
        <label class="col-sm-6 col-md-4 col-lg-3 col-form-label">
          Copy Log on Exit
        </label>
        <div class="ml-3 mt-1 custom-control custom-checkbox">
          <input
            id="--when-exit-copy-log"
            type="checkbox"
            class="custom-control-input"
          />
          <label
            class="custom-control-label"
            for="--when-exit-copy-log"
          ></label>
        </div>
      </div>

      <!-- Copy Config -->
      <div class="form-group row">
        <label class="col-sm-6 col-md-4 col-lg-3 col-form-label">
          Copy Config on Exit
        </label>
        <div class="ml-3 mt-1 custom-control custom-checkbox">
          <input
            id="--when-exit-copy-config"
            type="checkbox"
            class="custom-control-input"
          />
          <label
            class="custom-control-label"
            for="--when-exit-copy-config"
          ></label>
        </div>
      </div>

      <!-- Log Level -->
      <div class="form-group row">
        <label
          for="--log-level"
          class="col-sm-6 col-md-4 col-lg-3 col-form-label"
        >
          Log Level
        </label>
        <div class="col-sm-6 col-md-8 col-lg-9">
          <select id="--log-level" class="custom-select">
            <option value="3">Info</option>
            <option value="4">Debug</option>
            <option value="5">Trace</option>
            <option value="6">Verbose</option>
            <option value="7">All</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
